PGHOST=127.0.0.1
PGPORT=5432
PGDATABASE=sarc_drone
PGUSER=sarc_admin
PGPASSWORD=change_me_postgres
PGSCHEMA=sarc_drone

MQTT_HOST=127.0.0.1
MQTT_PORT=1883
MQTT_USERNAME=backend_service
MQTT_PASSWORD=change_me_backend
MQTT_TOPIC_BASE=sarc/drone/#
MQTT_COMMAND_PREFIX=sarc/commands/drone
MQTT_CLIENT_ID=sarc-edge-backend
